div#ics_highlighted_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    bottom: 120px;
    width: 100%;
	z-index: 101;
	cursor: pointer;
}

div#ics_highlighted_box .icsf_boxes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: calc(20vw);
    margin-right: 15px;
	padding: 5px;
	background-color: #eee;
}

div#ics_highlighted_box .box-content {
    border: 3px solid #ccc;
    background-color: #06c;
    color: #fff;
}

div#ics_highlighted_box .box-content:hover {
	border: 3px solid #fff;
}

@media screen and (max-width: 992px){

	div#ics_highlighted_box .icsf_boxes {
		flex-direction: row;
		min-width: 600px;
		justify-content: flex-end;
		padding: unset;
		background-color: unset;
	}
	
  div#ics_highlighted_box .box-content {
        min-width: 150px;
    }

   div#ics_highlighted_box .box-content img {
        min-width: 150px;
    }
    
}

@media screen and (max-width: 600px){
	
	div#ics_highlighted_box {
		bottom: 65px;
	}
	
}

div#ics_highlighted_box .box-content span {
    padding: 5px;
    height:100%;
    display: grid;
    align-items: center;
}

div#ics_highlighted_box .box-content img {
	display: block;
    margin-left: auto;
    margin-right: auto;
   	max-width: calc(15vw);
}
