.ics_carousel {
	width: 100%;
}

.ics_carousel .ics_car_content {
	background-color: #ede5dd;
}

.ics_carousel .ics_car_content:hover {
	cursor: pointer;
}

.ics_carousel .ics_car_content:hover a {
	color: hsl(30, 100%, 40%);
}

.ics_carousel .ics_car_content:hover .header-line {
	background-color: hsl(30, 100%, 40%); 
}

.ics_carousel .ics_car_text {
	/* padding: 25px; */
	padding: 15px 25px 5px 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ics_carousel .ics_car_background {
	max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

.ics_carousel .ics_car_text {
	font-size: 1.4em;
	font-weight: bold;
	color: #0059b3;
}

.ics_carousel .header-line {
	background-color:#0059b3; 
	height: 5px; 
	width: 0px;
	line-height:0;
}

.ics_carousel .header-line.reset-tra {
	transition: none;
}

.ics_carousel .header-line-tra {
	width: 100% !important;
}

.ics_carousel a, .ics_carousel a:hover, .ics_carousel a:active {
	text-decoration: none !important;
}

.f_dots {
	background-color: #ede5dd;
	padding-left: 25px;
}

.f_dot {
	height: 14px;
    width: 14px;
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
	border-width 3px;
	border-style: solid;
}

.f_dot:hover {
	cursor: pointer;
}

.f_dot_inactive {
	background-color: #bbb;
	border-color: #bbb;
}

.f_dot_inactive:hover {
	background-color: #fff;
}

.f_dot_active {
	background-color: #fff;
	border-color: #0059b3;
}

